*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* !header starts from here! */
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 2rem; */
    background: #ccc;
    margin-bottom: 2rem;
}
.list-container .list{
    display: flex;
    justify-content: space-evenly;
    gap: 4rem;
    list-style-type: none;
    text-decoration: none;
    margin-right: 3rem;
}
.list .main-item{
    text-decoration: none;
    text-transform: capitalize;
     color: #7110e8; 
    font-size: 1.3rem;
}

/* logo */
.Qlog{
    font-size: 4rem;
    font-weight: bolder;
    font-style: italic;
    color: #000F2C;
}

/* drop-downs */
 .dropdown-content{
    position: absolute;
     display:none; 
      margin-bottom: 8rem;
 }
 .dropdown-content .item{
    color: #fff;
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 0.6rem;
    font-weight: bolder;
    line-height: 1rem;
    background-color: #e0b61a;
    max-width: 100%;
    width: 5rem;
     margin-top: 0.4rem;
    text-align: center;
    border-radius: 2px;
    
} 
.item:hover{
    color: #b30a0a;
    background: none;
    font-weight: bolder;
    font-size: 1rem;
}
 .drop-down:hover .dropdown-content{
    display: block;
    margin-bottom: 9rem;
} 
/* !header ends here */

/* !scrolling-header starts from here */
.scroll-overall{
    background: #020734;
    position: sticky;
    top: 0;
    margin-bottom: 1rem;
    z-index: 5;
    padding-bottom: 1rem;
}
.scroll-overall p{
    text-align: center;
    color: #98d472;
    font-weight: small;
    font-size: small;
}
.scrolling-container{
    overflow: hidden;
    display: flex;
}
.scroll-wraper{
    display: flex;
    justify-content: center;
    gap: 10px;
    width: calc(50rem * 3);
    animation: scroll 20s linear infinite;
}
.scrolling-icons{
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid red; */
    padding: 0.5rem 2rem;
    width: 50rem;
    text-align: center;
    min-width: 100vw;
}
.icon{
    width: 3rem;
    height: 3rem;
    background: transparent;
    margin: 0 2rem;
    border-radius: 50%;
    padding-top: 0.5rem;
}
@keyframes scroll {
    0%{
        margin-left: 0;
    }
    50%{
        margin-left: calc(-50rem * 1);
    }
    100%{
        margin-left: calc(-50rem * 2);
    }
}
/* !scrolling header end from here👋 */
img{
    width: 100%;
    max-width: 100%;
    margin-top: 1rem;
    border-radius: 1rem 1rem 0 0;
}
.main-container{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 20% 1fr;
    gap: 10px;
}
/* %%%%%%%%%%%%%%%%%$$$$$$$$$$$$ */
.latest-news h2{
    text-align: center;
    text-transform: capitalize;
    color:#e661ac;
    margin-left: -2rem;
    margin-top: 1rem
}

.latest-news{
    height: 20rem;
    max-width: 100%;
    margin-top: 1rem;
}

.latest-news p{
    margin-left: 0;
}
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
.latest-item{
     width: 15rem; 
    display: grid;
}
.item-dsc{
    padding: 1rem 0;
}
.latest-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    background: #f5f4f4;
}

.item-dsc{
    background: #fff;
    border-radius: 0 0 0.5rem 0.5rem;
    
}
.item-abt{
     font-size: 0.8rem; 
    color: #000F2C;
    margin-left: 0.5rem;
    line-height: 1rem;
    font-family: sans-serif;
}
.item-title{
    font-size: 0.6rem;
    color: #ccc;
    font-weight: bolder;
    margin: 0px 0px 5px 5px;
}
.item-date{
    text-align: center;
    padding-top: 1rem;
}
.current-news{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;

}

/* !More-container starts from here */
.more-news-container{
    margin-top: 2rem;
    /* border: 1px solid#e0b61a; */
    display: flex;
    overflow: hidden;
    max-width: 100%;
    
}
.more{
    /* border: 2px solid green; */
    display: flex;
    gap: 5rem; 
    padding: 1rem 1rem;
    border-top: 2px solid #3cda6b;
    min-width: 80%;
    margin: 2rem auto;
}
.more-heading{
    margin-left: 2rem;
    color: #e0b61a;
}
.more-item{
     min-width: 100%; 
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
    background: #fff;
    padding: 1rem 2rem;
    border-radius: 3px;
    box-shadow: 20px 20px 50px 15px #fff inset;
    animation: slide 20s linear infinite;
    
    
}
.more-item img{
    width: 5rem;
    border-radius: 0%;
    
}
.more-item h2{
    font-size: 0.7rem;
    color: #ccc;
    font-weight: bolder;
}

/* animations are here */
@keyframes slide {
    20%{
        margin-left: 0px;
    }
    40%{
        margin-left: calc(-100% * 1);
    }
    60%{
        margin-left: calc(-100% * 2);
    }
    80%{
        margin-left: calc(-100% * 3);
    }
}

/*  media query for small screen */

@media (max-width: 900px) {
    /* ?scrolling header starts here */
    .scrolling-icons{
        max-width: 60%;
        /* border: 1px solid green; */
    }
    .icon{
        width: 2rem;
        height: 2rem;
        background: transparent;
        margin: 0 1rem;
        border-radius: 50%;
    }

    /* ? scrolling header end here*/
    .main-container{
        display: flex;
        flex-direction: column;
         justify-content: center;
    }
    .more-item{
        max-width: 1rem;
    }
    .latest-news p{
        visibility: hidden;
    }
    .latest-container{
        margin-top: -18rem;
    }
    .header-container{
        margin: 1rem 0 2rem;
          padding: 2rem 0;
         justify-content: space-between;
         margin-bottom: 1rem;
         margin-top: 0;
    }
    .list-container .list{
        gap: 1.5rem;
    }
    .list-container{
        margin-right: 1rem;
    }
    .Qlog{
        font-size: 1.5rem;
    }
    
}

/* !!!!classes to be used in JS !!!*/
.fixed-title{
    position: sticky;
    top: 0;
    left: 0;
    color: #ec18ac;
}
i{
    font-size: 2rem;
}
 .fa-futbol{
    font-size: 2rem;
    color: #fff;
    background: none;

 }

 .fa-football{
    color: #e661ac;
 }
 .fa-person-snowboarding{
    color: #e0b61a;
 }
 .fa-baseball-bat-ball{
    color: #3cda6b;
 }